*,*:before,*:after{
  margin: 0;
  box-sizing: border-box;
}

button,input{
  font-size: inherit;
}

body{
  color: white;
  font-family: Sans-Serif;
}

.title{
  letter-spacing: 3px;
  font-weight: bold;
}

.text-center{
  text-align: center;
}

#header{
  position:fixed;
  display:flex;
  width:100%;
  background: white;
  padding:10px 20px;
  z-index: 99999999;
  justify-content: space-between;
  align-items: center;
}

#header a{
  color: black;
}

#header-img{
  width: 30%;
  height: auto;
}

.navbar{
  background: white;
  width: 100%;
  position: absolute;
  left:-100%;
  top:0;
  height: 100vh;
  z-index: 99999;
  transition: left 0.5s;
}

.open{
  left: 0;
}

.navbar.open .nav-close{
  opacity: 1;
}

#nav-bar ul{
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
}

.nav-close{
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  transition: opacity 2s;
}

#nav-bar a i{
  color: black;
  font-size: 25px;
}

.nav-link{
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color:black;
}

#nav-bar .nav-link:hover{
  color: white;
  background: black;
}

#wrapper-trial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background: blue;
  background-image: linear-gradient(
      115deg,
      rgba(0, 166, 255, 0.7),
      rgba(0, 166, 255, 0.3)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
}

#email{
  margin-top: 20px;
  background: white;
  display: block;
  border: solid 1px black;
  min-height: 2rem;
  padding: 0.3rem 0.7rem;
  width: 100%;
}

#submit{
  display: block;
  width: 50%;
  margin:5px 0;
  padding: 0.3rem;
  border: 0;
  border-radius: 5px;
  background: orange;
  color: white;
  font-size: 1.2rem;
}


#wrapper-feature{
  background: #00B3C8;
  padding: 20px;
}

.title{
  color:#1B305A;
}

#wrapper-video{
  background: #36C2DD;
  padding:20px 0 ;
}


.grid-feature{
  display: grid;
  grid-template-columns: 1fr;
}

.grid-feature img{
  width: 80%;
  margin: 0 auto;
}

.grid-feature ul{
  margin-left:15%;
}

.grid-feature ul li{
  font-size: inherit;
}

#video{
  width: 80%;
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

#pricing{
  background: white;
  padding: 20px 30px;
}

.grid-pricing{
  margin-top: 1rem ;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem ;
}

.card{
  width: 100%;
  margin:0 auto ;
  background: #C4E9F8;
  border-radius: 15px ;
  min-height: 250px;
}

.card-header{
  background: #36C2DD;
  padding: 10px;
  text-align: center;
  border-radius:15px 15px 0 0;
}

.card-body{
  color:#2A5993;
  text-align: center;
}

.card-body .btn{
  background: orange;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 2rem;
  width: 50%;
  border-radius: 25px;
  border: 0;
  color: white;
}

.card-body p,.card-body h1{
  margin-top: 10px;
}

footer{
  background: #222222;
  color: #BABABA;
  padding: 25px 20px;
}

footer p{
  font-size: 0.8rem;
}

footer img{
  display: block;
  width: 50px;
  margin: 10px auto;
}



@media (min-width:720px)  {
  body{
    font-size:0.55rem;
  }
  
  #wrapper-trial{
    font-size: 2rem;
    padding: 20%;
  }
  
  .grid-feature{
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
  }
  
  .grid-feature ul{
    margin: auto 0;
  }
  
  .grid-pricing{
    font-size:1rem;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 2em;
  }
  
  #video{
    min-height: 500px;
  }
  
  .nav-button{
    display: none;
  }
  
  .navbar{
    position: static;
    height: auto;
    width: auto;
    margin-right: 0;
  }
  
  #header img{
    width: 20%;
  }
  
  #header{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #nav-bar ul{
    display: flex;
    
    margin: 0;
  }
}