.humberger{
  background:;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.humberger span{
  display: block;
  width: 45px;
  height: 5px;
  background: black;
  margin: 5px 0;
  
}